process{
  container = 'asumann/test:dev'
  containerOptions = '-B /home/asus/Desktop/CRT_RTP/nextflow/test'
}

params{
  input = "/home/asus/Desktop/CRT_RTP/nextflow/test/test-dataset/fastq/*_{1,2}.fastq.gz"
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/data/containers'
